/* Estilo*/
body{
	margin: 0;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	width: 100%;
	height: auto;
	background-color: #333;
}


ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	display: inline-block;
	position: relative;
	padding: 15px 0 15px 0;
	background: #333;
	cursor: pointer;
	color: white;
}

ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   	font-size:1em;
}

ul li:hover {
	background: #555;
	color: #fff;
}

ul li ul {
	z-index: 2;
	padding: 0;
	position: absolute;
	top: 48px;
	right: 0;
	width: 150px;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
}

ul li ul li { 
	background: #555; 
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
	background: #666;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

h1, h2{
	text-align: center;
	color: #0A0A1C;
	font-family: sans-serif;
}

select{
	background: #222;
    color: #999;
    width: 300px;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
    text-align: center;
	margin-top: 15px;
	font-size: 20px;
}

.formulario{
	text-align: center;
	display: block;
}

.divOculto{
	margin-top: 1%;
	padding: 5px;
	font-family: impact;
	size: 25px;
	margin-right: 35%;
	margin-left: 35%;
}
 
.text {
    background: #333;
    color: #ccc;
    width: 195px;
    padding: 5px;
    border-radius: 20px;
    transition: 250ms all ease;
    outline: 0;
    border: 5px;
    text-align: center;
	margin-top: 15px;
	font-size: 20px;
}

.text:focus {
    width: 300px;
} 


.campo{
	text-align: center;
	padding: 4px;
	margin-top: 15px;
	font-family: impact;
	font-size: 20px;
}

.button{
	background: #111;
    color: #ccc;
    width: 195px;
    padding: 5px;
    outline: 0;
    border-radius: 20px;
    text-align: center;
	margin-top: 15px;
	font-size: 20px;
}

.button:focus {
   	background: #555;
} 

#informacion{
	margin-left: 30%;
	margin-right: 30%;
	font-family: impact;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

b{
	color: #090817;
}

.bannerRegistro{
	width: 340px;
	height: 100px;
	background-image: url("../img/banner-registro.png");
	margin-top: 3%;
	margin-left: 38%;
}

.bannerLogin{
	width: 340px;
	height: 100px;
	background-image: url("../img/banner-login.png");
	margin-top: 3%;
	margin-left: 38%;
}

.bannerBorrar{
	width: 340px;
	height: 100px;
	background-image: url("../img/banner-borrar.png");
	margin-top: 3%;
	margin-left: 38%;
}

.bannerCambiar{
	width: 340px;
	height: 100px;
	background-image: url("../img/banner-cambiar.png");
	margin-top: 3%;
	margin-left: 38%;
}


.menu {
	font-family: sans-serif;
}

.userMenu {
	float: right;
	padding: 15px;
}

.footer{
	width: 100%;
	color: black;
	position: fixed;
	bottom: 0px;
	font-family: sans-serif;
	text-align: center;
}

.video{
	margin-top: 5%;
    text-align: center;
}