/* Estilo*/
body{
	margin: 0;
}

html{
	background-color: #355BB2;
}

header {
	width: 100%;
	height: auto;
	background-color: #333;
}


ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	display: inline-block;
	position: relative;
	padding: 15px 0 15px 0;
	background: #333;
	cursor: pointer;
	color: white;
}

ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   	font-size:1em;
}

ul li:hover {
	background: #555;
	color: #fff;
}

ul li ul {
	z-index: 2;
	padding: 0;
	position: absolute;
	top: 48px;
	right: 0;
	width: 150px;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
}

ul li ul li { 
	background: #555; 
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
	background: #666;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

h1, h2{
	text-align: center;
	color: #0A0A1C;
	font-family: sans-serif;
}

.formulario{
	text-align: center;
	padding: 20px;
	margin-top: 15px;
}

.bordeForm{
	border: 5px solid red;
	margin-left: 35%;
	float: left;
}

b{
	color: #090817;
}

.bannerRegistro{
	width: 270px;
	height: 90px;
	background-image: url("../img/banner-registro.png");
	margin-top: 3%;
	margin-left: 40%;
}

.bannerLogin{
	width: 270px;
	height: 90px;
	background-image: url("../img/banner-login.png");
	margin-top: 3%;
	margin-left: 40%;
}


.menu {
	font-family: sans-serif;
}

.userMenu {
	float: right;
	padding: 15px;
}

.footer{
	width: 100%;
	color: white;
	position: fixed;
	bottom: 0px;
	font-family: sans-serif;
	text-align: center;
}

.video{
	margin-top: 5%;
    text-align: center;
}
/*
.titulo{
	text-align: center;
	font-size: 50px;
}*/
